<template>
    <section class="h-full w-1/4 bg-blue-200 order-1 flex-grow-1 flex flex-nowrap flex-col" >
        <section class="my-px-10 mx-px-5" v-for="(part, ind1) in asideContent" :key="ind1">
            <h1 class=" my-px-10 mx-px-5 font-bold text-left text-xl text-blue-900">{{part.title.toUpperCase()}}</h1>
            <article class="my-px-10 mx-px-5" v-for="(content,ind2) in part.content" :key="ind2">
                <h2 v-if="content.subtitle !==''" class="text-left text-bold text-xl leading-none text-gray-700">{{content.subtitle}}</h2>
                <ul class="my-px-10 mx-px-5 list-disc">
                    <li class="my-px-10 mx-px-5 font-bold text-xs text-gray-500" v-for="(elem, ind3) in content.list" :key="ind3">{{elem}}</li>
                </ul>
            </article>
        </section>
        <section class="my-px10 px-px-5">
            <h1 class=" my-px-10 mx-px-5 font-bold text-left text-xl text-blue-900">RÉFÉRENCES</h1>
            <article class=" my-px-10 mx-px-5 flex flex-row">
                <a href="https://www.linkedin.com/in/edern-hervouet/"><img class="w-px-32 h-px-32 mx-px-5" :src="logoLinkedIn"
                                                                           alt="LinkedIn"></a>
                <a href="https://gitlab.com/EHdyod"><img class="w-px-32 h-px-32 mx-px-5" :src="logoGitLab" alt="GitLab"></a>
            </article>
        </section>
    </section>
</template>

<script setup>
    import asideContent from "../data/aside.json";
    import logoLinkedIn from "../assets/LI-logo.png";
    import logoGitLab from "../assets/GL-logo.svg";
</script>

<style scoped>
    #aside *{
        margin: 10px 5px;
    }
</style>