<template>
    <section class="w-3/4 my-2 bg-white-100 order-2 flex-grow-16 flex flex-nowrap flex-col items-center justify-center ">
        <h1 class="block print:hidden pt-5 text-gray-800 font-bold text-2xl">Développeur Logiciel</h1>
        <section class="w-full flex flex-nowrap flex-col justify-evenly flex-grow-1" v-for="(rubric,ind1) in content" :key="ind1">
            <article class="flex flex-nowrap flex-row-reverse">
                <h2 class="w-1/4 py-0 pr-15 order-2 text-right text-base font-extrabold text-gray-700">{{rubric.title.toUpperCase()}}</h2>
                <span class="w-3/4 order-1 py-0 px-15 text-left flex flex-nowrap flex-col items-start mx-0 my-auto border-t-2 border-solid border-blue-500"></span>
            </article>
            <article class="flex flex-nowrap flex-row-reverse" v-for="(segment, ind2) in rubric.content" :key="ind2">
                <h2 class="w-1/4 py-0 px-15 order-2 text-right font-sbt text-gray-600">{{segment.left}}</h2>
                <article class="w-3/4 order-1 py-0 px-15 text-left flex flex-nowrap flex-col items-start">
                    <h3 class="mb-0 font-bold text-gray-600">{{segment.right.title}}</h3>
                    <p class="mt-0 text-gray-500">{{segment.right.desc}}</p>
                </article>
            </article>
        </section>
    </section>
</template>

<script setup>
    import content from "../data/main.json";
</script>

<style scoped>
</style>