<template>
    <main class="w-full h-full flex flex-row-reverse flex-nowrap text-gray-600 ">
        <Description/>
        <Aside/>
    </main>
</template>

<script setup>
    import Description from "./Description.vue";
    import Aside from "./Aside.vue";
</script>

<style scoped>
</style>