<template>
    <header class="w-full h-15 print:h-px-168 bg-blue-900 text-gray-100 flex flex-row flex-nowrap justify-between">
        <article class="h-full w-1/3 flex flex-col flex-nowrap justify-center items-center">
            <h1 class="text-left mb-0 font-bold text-2xl">{{completeName}}</h1>
            <ul>
                <li class="list-none font-bold leading-tight" >{{age}} ans</li>
                <li class="list-none font-bold leading-tight" >{{address[0]}}</li>
                <li class="list-none font-bold leading-tight" >{{address[1]}}</li>
                <li class="list-none font-bold leading-tight"><a :href="tel[0]" class="contact text-white-100 no-underline" >{{tel[1]}}</a></li>
                <li class="list-none font-bold leading-tight"><a :href="`mailt:${mail}`" class="contact text-white-100 no-underline" >{{mail}}</a></li>
            </ul>
        </article>
        <article class="h-full w-1/2 flex flex-row-reverse">
            <img class="m-auto h-full print:h-px-168" :src="imgProfil" alt="Photo d'Edern Hervouët par Corentin Hervouët">
        </article>
    </header>
</template>

<script setup>
    import infos from "../data/contact.json";
    import imgProfil from "../assets/profil.jpg";

    function getAge(date){
        const today = new Date();
        const birth = Date.parse(date);
        const ageDiff = new Date(today - birth);
        return Math.abs(ageDiff.getUTCFullYear() - 1970);
    }

    const completeName = `${infos.firstname} ${infos.surname}`;
    document.title = completeName;
    const age = getAge(infos.birthday);
    const address = infos.address;
    const tel = infos.phone;
    const mail = infos.mail;
</script>

<style scoped>
    .contact:hover{
        color: floralwhite;
        text-decoration: underline;
    }

    .contact:visited{
        color: floralwhite;
        text-decoration: none;
    }
</style>