<template>
  <Top/>
  <Main/>
</template>

<script setup>
import Top from "./components/Top.vue";
import Main from "./components/Main.vue";
</script>

<style>
body{
  width: 100%;
  height: 100%;
}
#app{
  display: flex;
  flex-flow: nowrap column;
  align-content: center;
  font-family: Helvetica, serif;
  width: 210mm;
  height: 297mm;

}

@page { size: auto;  margin: 0; }

@media screen {
  #app{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin: 10px auto;
  }
}
</style>